<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>View Administrator</title>
    <link rel = "icon" style="width: 100%" href ="http://103.29.70.46:15001/files/6fadf0f3-f1b2-4262-934f-650261eda5b4.PNG "
          type = "image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/viewPage.css}" rel="stylesheet" />
    <!--  <link th:href="@{/css/editStyle.css}" rel="stylesheet" />-->
    <link th:href="@{/css/tableStyles.css}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>

</head>


<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}" >
  <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
    <!-- Loading screen -->
    <div
            x-ref="loading"
            class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-primary-darker"
    >
      Loading.....
    </div>

    <div class="flex-1 h-full overflow-x-hidden overflow-y-auto" style="padding-bottom: 30px">
      <!-- Navbar -->
      <div th:replace="fragments/responsive::nav1(loginUser=${loginUser})"></div>

      <!--      table-->
        <!--      table-->
        <form th:action="@{/admin/addNewAdminHandler}" th:object="${newAdmin}"  method="get">
            <div>
                <div class="items-center px-4 dark:border-primary-darker" style="padding-top: 10px;">
                    <div>
                        <div style="width: 70%; margin: auto;">

                            <p style="margin-bottom: 5px  ; font-family: sans-serif" class="text-2xl">Add New Administrator</p>
                            <div style="display: flex; justify-content: space-between; padding-top: 15px;">
                                <div style="width: 40%; text-align: justify;">

                                    <div id="rcorners2" style="text-align: center" class="bg-white rounded-md dark:bg-darker">
                                        <div
                                                class="relative hidden w-40 h-40 mr-20 rounded-full md:block"
                                                style="margin: auto"
                                        >

                                            <!--   src="http://103.29.70.46:15001/files/184cbe17-e453-4e29-8dc1-5c0718ec9491.png"-->
                                            <img
                                                    id="profileImage"
                                                    class="object-cover w-full h-full rounded-full"
                                                    src="haha"
                                                    onerror="this.onerror=null; this.src='https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png'"
                                                    alt="profile_image"
                                                    loading="lazy"  />
                                            <div
                                                    class="absolute inset-0 rounded-full shadow-inner"
                                                    aria-hidden="true"
                                            >

                                            </div>
                                        </div>

                                        <div style="margin-top: 7px">
                                            <input style="font-family: sans-serif ; "  onchange="loadFile(event)"  class="form-control form-control-lg" id="file" type="file" />

                                            <input hidden="hidden" id="imageValue" th:field="*{profile_image}"  type="text"  />
                                        </div>

                                    </div>

                                    <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Contact Information</p>
                                    <div id="rcorners4" class="bg-white rounded-md dark:bg-darker">
                                        <!--                  Contact information input -->

                                        <p style="font-family: sans-serif ;  margin-top: 10px ;" for="telephone">Telephone</p>
                                        <input type="tel" onchange="validateStuff(event)" class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                               th:field="*{telephone}" name="telephone" id="telephone" style="font-family: sans-serif ;  "  placeholder="Enter telephone number">
                                        <small id="telephoneHelp"  style="font-family: sans-serif; color: red" class="form-text "> </small>


                                        <p style="font-family: sans-serif ;   margin-top: 10px ;" for="email">Email</p>
                                        <input type="email"  required onchange="validateStuff(event)" th:field="*{email}" style="font-family: sans-serif" name="email"
                                               class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                        <small id="emailHelp" style="font-family: sans-serif; color: red" class="form-text ">This field is required !</small>


                                        <p style="font-family: sans-serif ;  margin-top: 10px ;" for="officialEmail">Official Email</p>
                                        <input  name="officialEmail"  onchange="validateStuff(event)"  th:field="*{email_address}"  type="email" style="font-family: sans-serif ; "
                                                class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light" id="officialEmail" aria-describedby="emailHelp" placeholder="Enter official email">
                                        <small id="officialEmailHelp" style="font-family: sans-serif; color: red"  class="form-text"></small>

                                    </div>


                                </div>

                                <!--              Skill and work experience -->
                                <!--              Skill and work experience -->
                                <div style="width: 55%; text-align: justify;">
                                    <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Personal Information</p>



                                    <div id="rcorners3" class="bg-white rounded-md dark:bg-darker">
                                        <div class="form-group" style="font-family: sans-serif">

                                            <p style="font-family: sans-serif ;   margin-top: 10px ;" for="fullName">Password</p>
                                            <input type="password"  onchange="validateStuff(event)" class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                   th:field="*{passwords}" name="password" id="password" aria-describedby="passwordHelp" placeholder="Enter password">
                                            <small id="passwordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text ">This field is required.</small>


                                            <p style="font-family: sans-serif ;   margin-top: 10px ;" for="fullName">Full-Name</p>
                                            <input type="text" class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                   th:field="*{username}" name="fullName" id="fullName" aria-describedby="emailHelp" placeholder="Enter full name">



                                            <p style="font-family: sans-serif ;  margin-top: 10px ;" for="bio">Bio</p>
                                            <input type="text" class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                   th:field="*{bio}" name="bio" id="bio" aria-describedby="emailHelp" placeholder="Enter bio">
                                            <!-- Nationality -->
                                            <div style="font-family: sans-serif" >

                                                <div style="width: 60% ; font-family: sans-serif ; display: inline-block" >
                                                    <p style="font-family: sans-serif ;   margin-top: 10px ;" for="nationality">Nationality</p>
                                                    <input type="text"  onchange="validateStuff(event)" class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                           th:field="*{nationality}" name="nationality" id="nationality" aria-describedby="emailHelp" placeholder="Enter nationality">
                                                    <small id="nationalityHelp"  style="font-family: sans-serif; color: red ; "  class="form-text "></small>

                                                </div>
                                                <!-- Gender -->
                                                <div style="margin-top: 10px ; font-family: sans-serif  ; width: 30% ; display: inline-block">

                                                    <p style="font-family: sans-serif ;   margin-top: 10px ;" for="gender">Gender</p>
                                                    <select class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                            id="gender" th:field="*{gender}"  name="gender" aria-label="Default select example">
                                                        <option style="font-family: sans-serif" value="1">Male</option>
                                                        <option style="font-family: sans-serif" value="2">Female</option>
                                                    </select>


                                                </div>
                                                <!-- <small id="nationalityHelp"  hidden="hidden" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                                <p style="font-family: sans-serif ; margin-top: 10px ; display: block" for="address">Address</p>
                                                <input type="text"
                                                       class="b_border w-full py-2 pl-4 pr-4 border dark:bg-dark dark:border-transparent dark:text-light"
                                                       th:field="*{address}"  id="address" name="address" aria-describedby="emailHelp" placeholder="Enter address">

                                            </div>

                                        </div>




                                    </div>


                                    <div  >

                                    <!-- <button

                          disabled
                          type="button"
                          data-toggle="modal"
                          data-target="#blockAdminModal"
                          style="font-family: sans-serif; background-color: orange ; width: 45%">

                  &lt;!&ndash;class=" px-4 py-2 mt-4 text-sm font-medium  text-center text-white leading-5 transition-colors duration-150 border border-transparent"&ndash;&gt;


                    Submit
                  </button>-->

              <!--   <button  id="submit" disabled  style="font-family: sans-serif; width: 45%" type="button"
                          data-toggle="modal"
                          data-target="#blockAdminModal"
                          class="btn btn-warning px-4 py-2 mt-4 text-sm font-medium  text-center text-white">
                     submit
                 </button>
                 <button   name="cancel" value="cancel" onclick="history.go(-1)"
                           style="font-family: sans-serif ; margin-left: 7%; width: 45%" type="button"
                           class="btn btn-danger px-4 py-2 mt-4 text-sm font-medium  text-center text-white">Cancel
                 </button>-->

                                        <button  id="submit" disabled
                                                 style="font-family: sans-serif; width: 45%; background-color: orange" type="button"

                                                 class="passwordUpdateModal   b_border btn btn-warning px-4 py-2 mt-4 text-sm font-medium  text-center text-white">
                                            submit
                                        </button>
                                        <button   name="cancel" value="cancel" onclick="history.go(-1)"
                                                  style="font-family: sans-serif ; margin-left: 7%; width: 45%; background-color: red" type="button"
                                                  class="b_border btn btn-danger px-4 py-2 mt-4 text-sm font-medium  text-center text-white">Cancel
                                        </button>


                                    </div>
 <!--                  Block Admin Model -->
              <!--    <div class="modal fade" id="blockAdminModal"
                       tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 style="font-family: sans-serif;" class="modal-title"
                                      id="exampleModalLabel">
                                      Message</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                  </button>
                              </div>
                              <div class="modal-body" >

                                  <p style="font-family: sans-serif">Enter your password</p>
                                  &lt;!&ndash;                              Adding form th:object="${password}" &ndash;&gt;
                                  &lt;!&ndash;<form  th:action="@{/admin/{id}/blockAdmin((id=${admin.user_id}))}"   method="get">&ndash;&gt;

                                  <input
                                          id="verifyPassword"
                                          name="password"
                                          onchange="validateCredential(event)"
                                          placeholder="Enter your password"
                                          class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                          style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif;"  type="password"  />
                                  &lt;!&ndash;   <small id="verifyPasswordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text "></small>
       &ndash;&gt;

                                  &lt;!&ndash;Footer&ndash;&gt;
                                  <div class="modal-footer flex justify-end pt-2">
                                      <button
                                              id="verifyButton" disabled  style="font-family: sans-serif; width: 25%" type="submit"
                                              class="btn btn-warning px-4   p-3 text-sm font-medium  text-center text-white">
                                          Verify
                                      </button>

                                      <button
                                              data-dismiss="modal"
                                              style="font-family: sans-serif; width: 25%" type="button"
                                              class="btn btn-danger px-4   p-3 text-sm font-medium  text-center text-white">
                                          Cancel
                                      </button>

                              </div>
                          </div>
                      </div>
                  </div>
-->

                                    <div id="passwordModal" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                                        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                                            <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                                                <!--Title-->
                                                <div class="flex justify-between items-center pb-3 ">
                                                    <p style="font-family: sans-serif" class="text-2xl font-bold">Message</p>
                                                    <div class="modal-close cursor-pointer z-50">
                                                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <!--Body-->
                                                <p style="font-family: sans-serif">Enter your password</p>
                                                <!--            Here                   Adding form th:object="${password}" -->

                                                <form    th:action="@{/admin/addNewAdminHandler}"    method="get">

                                                    <!--   <input  type="hidden" name="messageId" th:value="${message}">-->
                                                    <input

                                                            id="verifyPassword"
                                                            name="verifyPassword"
                                                            placeholder="Enter your password"
                                                            class="password                px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                                            style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                                    <small th:id="passwordHelp1"  style="font-family: sans-serif; color: red" class="form-text ">Field cannot be empty!</small>


                                                    <!--Footer  id="blockButton" -->
                                                    <div class="modal-footer flex justify-end pt-2">
                                                        <button th:id="blockButton1"    disabled class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 " type="submit" style="background-color: orange; color: white; font-family: sans-serif">Confirm</button>
                                                        <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >Cancel</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                    <!--                  End of the modal-->

            </div>

          </div>





        </div>
      </div>
    </div>
  </div>
 </div>
 </form>

 </div>


</div>

<!-- All javascript code in this project for now is just for demo DON'T RELY ON IT  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<!--<script src="../build/js/script.js"></script>-->
<script th:src="@{/js/scripts.js}"></script>
<!--    For upload image : -->
<script>

    function validateEmail(email){
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);

    }

    function  validateTelephone(telephone){

        const re=/^0\d{8,10}$/;
        return re.test(telephone);
    }
    function validateLetter(letter){
        const  re=/^[A-Za-z]+$/;
        return re.test(letter);

    }

    //validation for the input
    var validateStuff = function (event){

        var  email = document.getElementById("email").value
        var password=document.getElementById("password").value

        var nationality = document.getElementById("nationality").value;
        //Handling message
        var emailAddress = document.getElementById("officialEmail").value
        var telephone = document.getElementById("telephone").value;

        if   (email ==  "" ){
            document.getElementById("emailHelp").innerText="Field cannot be empty!"
        }else if(!validateEmail(email)){
            document.getElementById("emailHelp").innerText="Email format is incorrect"
        }else { document.getElementById("emailHelp").innerText="" ;}

        if(emailAddress == ""){ document.getElementById("officialEmailHelp").innerText=""}
       else if (!validateEmail(emailAddress)){
            document.getElementById("officialEmailHelp").innerText="Email format is incorrect!"
        }else {
            document.getElementById("officialEmailHelp").innerText= ""
        }

       if (nationality== "") {
           document.getElementById("nationalityHelp").innerText = ""}
       else if(!validateLetter(nationality))
        {
            document.getElementById("nationalityHelp").innerText="Nationality can only contains letter not numbers"
        }else {
            document.getElementById("nationalityHelp").innerText = ""
        }


       if (telephone ==""){
           document.getElementById("telephoneHelp").innerText=""
       }else  if (!validateTelephone(telephone)){
            document.getElementById("telephoneHelp").innerText="Telephone format is incorrect!"
        }else {document.getElementById("telephoneHelp").innerText=""}

        if (password ==""){
            document.getElementById("passwordHelp").innerText = "Field cannot be empty";
        }else { document.getElementById("passwordHelp").innerText = ""}

        // Submit Button

       // var emailError =document.getElementById("passwordHelp").value
        var officialEmailError =document.getElementById("officialEmailHelp").innerText
        var telephoneError = document.getElementById("telephoneHelp").innerText
        var nationalityError = document.getElementById("nationalityHelp").innerText

       /* console.log("Value of oEmail",officialEmailError )
        console.log("Value of oPhone",telephoneError )
        console.log("Value of oNationality",nationalityError)*/

      //  && officialEmailError=="" && telephoneError==""
        // There is no errors   && officialEmailError=="" && telephoneError=="" && nationalityError==""

        console.log("officialEmailError : ",officialEmailError)
        console.log("telephone: ",telephoneError)
        console.log()
        if( (email!="" && validateEmail(email) ) && password!="" && officialEmailError=="" && telephoneError=="" && nationalityError=="") {
            document.getElementById("submit").disabled = false;

        }else {
            document.getElementById("submit").disabled = true;

        }




    }






    // loadFile and upload image to the server.
    var loadFile = function (event) {

        var image = document.getElementById("profileImage")
        image.src = URL.createObjectURL(event.target.files[0])

        //    perform post the image to the server

        const files = event.target.files;
        const formData = new FormData();
        formData.append('file',files[0])

     //   document.getElementById("file").setAttribute('value',"hahaahaahha")
      fetch('http://103.29.70.46:15001/api/v1/file/uploadFile',
            {
                method: 'POST',
                body: formData

            }).then(response=> response.json())
        .then(data=>{

            var imageURL = data.payload
            document.getElementById("imageValue").setAttribute('value',imageURL)

        })
        .catch(error=>{
            console.log("Error : ",error)
        })
    }


</script>





<!--//script for modal for delete -->
<script>

    function passwordInputTrigger() {
        var password = document.getElementById("verifyPassword")

        const passwordHandler=function (e){
            /*var passwordValue = e.target.value
            console.log(passwordValue)*/

            console.log("Value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('passwordHelp1').innerText="Field cannot be empty!"
                document.getElementById("blockButton1").disabled=true
            }else {
                document.getElementById('passwordHelp1').innerText=""
                document.getElementById("blockButton1").disabled=false


            }
        }

        password.addEventListener('input',passwordHandler)
        password.addEventListener('propertychange',passwordHandler)

    }

    // .passModal mean modal-open
    var openUpdate =document.querySelectorAll('.passwordUpdateModal')
    for (var i =0; i<openUpdate.length; i++){
        openUpdate[i].addEventListener('click', function (event){
            /* const id = this.getAttribute('password')*/
            togglePassword("passwordModal");
            passwordInputTrigger();//"password"

        })
    }

    //get modal with id
    function togglePassword(id){
        const body = document.querySelector('body')
        const modal = document.getElementById(id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')

    }


    var openmodal = document.querySelectorAll('.modal-open')
  for (var i = 0; i < openmodal.length; i++) {
    openmodal[i].addEventListener('click', function(event){
      event.preventDefault()
      toggleModal()
    })
  }

  const overlay = document.querySelector('.modal-overlay')
  overlay.addEventListener('click', toggleModal)

  var closemodal = document.querySelectorAll('.modal-close')
  for (var i = 0; i < closemodal.length; i++) {
    closemodal[i].addEventListener('click', toggleModal)
  }

  document.onkeydown = function(evt) {
    evt = evt || window.event
    var isEscape = false
    if ("key" in evt) {
      isEscape = (evt.key === "Escape" || evt.key === "Esc")
    } else {
      isEscape = (evt.keyCode === 27)
    }
    if (isEscape && document.body.classList.contains('modal-active')) {
      toggleModal()
    }
  };
  function toggleModal () {
    const body = document.querySelector('body')
    const modal = document.querySelector('.modal')
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }

</script>


<script>
  const setup = () => {
    const getTheme = () => {
      if (window.localStorage.getItem('dark')) {
        return JSON.parse(window.localStorage.getItem('dark'))
      }

      return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    }

    const setTheme = (value) => {
      window.localStorage.setItem('dark', value)
    }

    const getColor = () => {
      if (window.localStorage.getItem('color')) {
        return window.localStorage.getItem('color')
      }
      return 'cyan'
    }

    const setColors = (color) => {
      const root = document.documentElement
      root.style.setProperty('--color-primary', `var(--color-${color})`)
      root.style.setProperty('--color-primary-50', `var(--color-${color}-50)`)
      root.style.setProperty('--color-primary-100', `var(--color-${color}-100)`)
      root.style.setProperty('--color-primary-light', `var(--color-${color}-light)`)
      root.style.setProperty('--color-primary-lighter', `var(--color-${color}-lighter)`)
      root.style.setProperty('--color-primary-dark', `var(--color-${color}-dark)`)
      root.style.setProperty('--color-primary-darker', `var(--color-${color}-darker)`)
      this.selectedColor = color
      window.localStorage.setItem('color', color)
      //
    }

    const updateBarChart = (on) => {
      const data = {
        data: randomData(),
        backgroundColor: 'rgb(207, 250, 254)',
      }
      if (on) {
        barChart.data.datasets.push(data)
        barChart.update()
      } else {
        barChart.data.datasets.splice(1)
        barChart.update()
      }
    }

    const updateDoughnutChart = (on) => {
      const data = random()
      const color = 'rgb(207, 250, 254)'
      if (on) {
        doughnutChart.data.labels.unshift('Seb')
        doughnutChart.data.datasets[0].data.unshift(data)
        doughnutChart.data.datasets[0].backgroundColor.unshift(color)
        doughnutChart.update()
      } else {
        doughnutChart.data.labels.splice(0, 1)
        doughnutChart.data.datasets[0].data.splice(0, 1)
        doughnutChart.data.datasets[0].backgroundColor.splice(0, 1)
        doughnutChart.update()
      }
    }

    const updateLineChart = () => {
      lineChart.data.datasets[0].data.reverse()
      lineChart.update()
    }

    return {
      loading: true,
      isDark: getTheme(),
      toggleTheme() {
        this.isDark = !this.isDark
        setTheme(this.isDark)
      },
      setLightTheme() {
        this.isDark = false
        setTheme(this.isDark)
      },
      setDarkTheme() {
        this.isDark = true
        setTheme(this.isDark)
      },
      color: getColor(),
      selectedColor: 'cyan',
      setColors,
      toggleSidbarMenu() {
        this.isSidebarOpen = !this.isSidebarOpen
      },
      isSettingsPanelOpen: false,
      openSettingsPanel() {
        this.isSettingsPanelOpen = true
        this.$nextTick(() => {
          this.$refs.settingsPanel.focus()
        })
      },
      isNotificationsPanelOpen: false,
      openNotificationsPanel() {
        this.isNotificationsPanelOpen = true
        this.$nextTick(() => {
          this.$refs.notificationsPanel.focus()
        })
      },
      isSearchPanelOpen: false,
      openSearchPanel() {
        this.isSearchPanelOpen = true
        this.$nextTick(() => {
          this.$refs.searchInput.focus()
        })
      },
      isMobileSubMenuOpen: false,
      openMobileSubMenu() {
        this.isMobileSubMenuOpen = true
        this.$nextTick(() => {
          this.$refs.mobileSubMenu.focus()
        })
      },
      isMobileMainMenuOpen: false,
      openMobileMainMenu() {
        this.isMobileMainMenuOpen = true
        this.$nextTick(() => {
          this.$refs.mobileMainMenu.focus()
        })
      },
      updateBarChart,
      updateDoughnutChart,
      updateLineChart,
    }
  }
</script>

<!--Script for search-->
<script th:inline="javascript">

  $('#txtSearch').on('keyup', function (){
    var value = $(this).val();
    console.log('value = '+ value);
  });
</script>
</body>
</html>
