<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>View Administrator</title>
    <link rel = "icon" style="width: 100%" href ="http://103.29.70.46:15001/files/6fadf0f3-f1b2-4262-934f-650261eda5b4.PNG "
          type = "image/x-icon">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet"
  />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/viewPage.css}" rel="stylesheet" />
  <!--  <link th:href="@{/css/editStyle.css}" rel="stylesheet" />-->
  <link th:href="@{/css/tableStyles.css}" rel="stylesheet" />

  <style>
      p{overflow-wrap: break-word}
  </style>
  <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>


</head>


<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}" >
  <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
    <!-- Loading screen -->
    <div
            x-ref="loading"
            class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-primary-darker"
    >
      Loading.....
    </div>
    <div class="flex-1 h-full overflow-x-hidden overflow-y-auto" style="padding-bottom: 30px">
      <!-- Navbar -->
      <div th:replace="fragments/responsive::nav1(loginUser=${loginUser})"></div>

      <!--      table-->
      <div class="items-center px-4 dark:border-primary-darker" style="padding-top: 10px;">
        <div>
          <div style="width: 70%; margin: auto;">

            <p style="margin-bottom: 5px  ; font-family: sans-serif" class="text-2xl">Administrator Information</p>
            <div style="display: flex; justify-content: space-between; padding-top: 15px;">
              <div style="width: 33%; text-align: justify;">

                <div id="rcorners2" style="text-align: center" class="bg-white rounded-md dark:bg-darker">
                  <div
                          class="relative hidden w-40 h-40 mr-20 rounded-full md:block"
                          style="margin: auto"
                  >
                    <img
                            class="object-cover w-full h-full rounded-full"
                            th:src="${admin.profile_image}"
                            alt="profile_image"
                            loading="lazy"
                    />
                    <div
                            class="absolute inset-0 rounded-full shadow-inner"
                            aria-hidden="true"
                    ></div>
                  </div>

                  <div>
                    <p class="font-semibold" style="padding-top: 8px; font-family: sans-serif" th:text="${admin.username}">Admin name </p>
                  </div>
                  <div>

                      <button
                              id="resetPassword"

                              style="font-family:   sans-serif ; background-color: orange"
                              class="passwordUpdateModal   block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent"
                      >

                              Reset Credential

                      </button>


                      <!--<li data-toggle="modal"
                          data-target="#blockAdminModal"
                          data-whatever="item 1"

                          style="font-family: sans-serif ; list-style: none" >

                      </li>-->

                      <!--    onclick="deactivateButtonClick()"-->   <!-- onclick="toggleModal2('deactivateModal')"-->
                      <button
                              id="deactivateButton"
                              style="font-family:   sans-serif ; background-color: red ; "
                              class="deactivateModal  block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent">

                          Deactivate
                      </button>

                  </div>
                </div>



                <p style="margin-bottom: 5px; margin-top: 20px ; font-family: sans-serif" class="text-xl" >Contact Information</p>
                <div id="rcorners4" class="bg-white rounded-md dark:bg-darker">
                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Phone</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style="margin-bottom: 6px; font-family: sans-serif" th:text="${admin.telephone}">
                    20/20/2020
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Email</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400 " style=" font-family: sans-serif;margin-bottom: 6px" th:text="${admin.email}">
                    20/20/2020
                  </p>

                 <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Official Email</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${admin.email_address}">
                  </p>

                </div>

              </div>

                <input hidden id="messageId" th:value="${message}"/>

<!--              Skill and work experience -->
              <div style="width: 63%; text-align: justify;">
                <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Personal Information</p>
            <div id="rcorners3" class="bg-white rounded-md dark:bg-darker">

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Bio</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${admin.bio}">
                    Bio
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Gender</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${admin.gender}">
                    Gender
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Nationality</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style="font-family: sans-serif ;  margin-bottom: 6px" th:text="${admin.nationality}">
                    Nationality
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Address</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style=" font-family: sans-serif;   margin-bottom: 6px" th:text="${admin.address}">
                    Address
                  </p>

                <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Created At</p>
                <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${admin.created_date}">
                   Created Date
                </p>
                </div>
              <div>
                 <a   th:href="@{/admin/{id}/updateAdmin( id = ${admin.user_id})}" style="text-decoration: none ;  ">
                     <button

                             style="font-family: sans-serif; background-color: orange ; width: 45%"
                             class=" px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent">
                     Update
                     </button>
                 </a>


        <button

              type="submit" name="cancel" value="cancel" onclick="history.go(-1)"
            style="background-color: red; font-family: sans-serif; width: 45% ; margin-left: 7% "
            class=" px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent"

        > Cancel</button>
      </div>
<!--                  Normal Modal -->

                  <!--Block Admin-->
                  <div id="deactivateModal"  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                          <!-- Add margin if you want to see some of the overlay behind the modal-->
                          <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                              <!--Title-->
                              <div class="flex justify-between items-center pb-3 ">
                                  <p class="text-2xl font-bold" style="font-family: sans-serif">Message</p>
                                  <div class="modal-close cursor-pointer z-50">
                                      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                      </svg>
                                  </div>
                              </div>
                              <!--Body-->
                              <p style="font-family: sans-serif">Enter your password</p>
                              <!--                              Adding form th:object="${password}" -->
                              <!--          onchange="validateCredential(event)"                         Adding form th:object="${password}" -->
                              <form  th:action="@{/admin/{id}/blockAdmin(id=${admin.user_id})}"   method="get">
                                  <input
                                          id="dPassword"
                                          name="password"
                                          placeholder="Enter your password"
                                          class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                          style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif;"  type="password"  />
                                         <small id="dPasswordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text ">This field cannot be empty!</small>

                                  <!--Footer      class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 "-->
                                  <div class="modal-footer flex justify-end pt-2">
                                      <button
                                              id="dButton"
                                              class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 "

                                               disabled
                                               type="submit"
                                               style="background-color: orange; color: white; font-family: sans-serif">Verify</button>
                                      <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >Cancel</button>
                                  </div>

                              </form>


                          </div>
                      </div>
                  </div>



                  <div id="resetPasswordModal"  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                          <!-- Add margin if you want to see some of the overlay behind the modal-->
                          <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                              <!--Title-->
                              <div class="flex justify-between items-center pb-3 ">
                                  <p class="text-2xl font-bold" style="font-family: sans-serif">Message</p>
                                  <div class="modal-close cursor-pointer z-50">
                                      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                      </svg>
                                  </div>
                              </div>
                              <!--Body-->

                              <form  th:action="@{/admin/{id}/resetAdminPassword((id=${admin.user_id}))}"   method="get">
                                  <label style="font-family: sans-serif">Your Password</label>
                                  <input
                                          id="oldPassword"
                                          name="oldPassword"
                                          placeholder="Enter your password"
                                          class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                          style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                  <small  id="oldPasswordHelp"  style="font-family: sans-serif; color: red ; display: block" class="form-text ">Field cannot be empty!</small>


                                  <label style="font-family: sans-serif"> New Password</label>
                                  <input
                                          id="newPassword"
                                          name="newPassword"
                                          placeholder="Enter your new password"
                                          class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                          style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                  <small  id="newPasswordHelp"  style="font-family: sans-serif; color: red ; display: block" class="form-text ">Field cannot be empty!</small>

                                  <label style="font-family: sans-serif">Confirm Password</label>
                                  <input
                                          id="confirmPassword"
                                          name="confirmPassword"
                                          placeholder="Enter your confirm password"

                                          class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                          style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                  <small id="confirmPasswordHelp"  style="font-family: sans-serif; color: red ; display: block "  class="form-text ">Field cannot be empty!</small>

                                  <!--Footer-->
                                  <!--Footer-->
                                  <div class="modal-footer flex justify-end pt-2">
                                      <button disabled  id="newBlockButton" class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 " type="submit" style="background-color: orange; color: white; font-family: sans-serif">Confirm</button>
                                      <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >Cancel</button>
                                  </div>

                              </form>


                          </div>
                      </div>
                  </div>

<!--                  Block Admin Model -->
                  <div id="messageModal" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                          <!-- Add margin if you want to see some of the overlay behind the modal-->
                          <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                              <!--Title-->
                              <div class="flex justify-between items-center pb-3 ">
                                  <p class="text-2xl font-bold">Message</p>
                                  <div class="modal-close cursor-pointer z-50">
                                      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                      </svg>
                                  </div>
                              </div>
                              <!--Body-->
                              <p id="messsageModalBody" style="font-family: sans-serif"> </p>
                              <!--     Adding form th:object="${password}" -->
                              <!--Footer-->
                              <div class="modal-footer flex justify-end pt-2">
                                  <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >OK</button>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>




            <!--      <div class="modal fade" id="blockAdminModal"
                       tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 style="font-family: sans-serif;" class="modal-title"
                                      id="exampleModalLabel">
                                      Message</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                  </button>
                              </div>
                              <div class="modal-body" >

                                  <p style="font-family: sans-serif">Enter your password</p>
                                  &lt;!&ndash;                              Adding form th:object="${password}" &ndash;&gt;
                                  <form  th:action="@{/admin/{id}/blockAdmin((id=${admin.user_id}))}"   method="get">
                                      <input

                                              id="verifyPassword"
                                              name="password"
                                              onchange="validateCredential(event)"
                                              placeholder="Enter your password"
                                              class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                              style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif;"  type="password"  />
                                      &lt;!&ndash;   <small id="verifyPasswordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text "></small>
           &ndash;&gt;

                                      &lt;!&ndash;Footer&ndash;&gt;
                                      <div class="modal-footer flex justify-end pt-2">
                                          <button
                                                  id="verifyButton" disabled  style="font-family: sans-serif; width: 25%" type="submit"
                                                  class="btn btn-warning px-4   p-3 text-sm font-medium  text-center text-white">
                                              Verify
                                          </button>

                                          <button
                                                  data-dismiss="modal"
                                                  style="font-family: sans-serif; width: 25%" type="button"
                                                  class="btn btn-danger px-4   p-3 text-sm font-medium  text-center text-white">
                                              Cancel
                                          </button>

                                      </div>

                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>-->

                  <!--                  Reset Password Model -->
                <!--  <div class="modal fade" id="resetPasswordAdminModal"
                       tabindex="-1" role="dialog"
                       aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 style="font-family: sans-serif;" class="modal-title"
                                      id="exampleModalLabel1">
                                      Message</h5>
                                  <button type="button" class="close"
                                          data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                  </button>
                              </div>
                              <div class="modal-body" >

                                 &lt;!&ndash; <p style="font-family: sans-serif">Please Enter Your Password</p>&ndash;&gt;
                                  &lt;!&ndash;                              Adding form th:object="${password}" &ndash;&gt;
                                  <form  th:action="@{/admin/{id}/resetAdminPassword((id=${admin.user_id}))}"   method="get">
                                      <label style="font-family: sans-serif">Your Password</label>
                                      <input
                                              id="oldPassword"
                                              name="oldPassword"
                                              onchange="validateNewPassword(event)"
                                              placeholder="Enter your password"
                                              class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                              style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />

                                      <label style="font-family: sans-serif"> New Password</label>
                                      <input
                                              id="newPassword"
                                              name="newPassword"
                                                onchange="validateNewPassword(event)"
                                              placeholder="Enter your new password"
                                              class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                              style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />

                                      <label style="font-family: sans-serif">Confirm Password</label>
                                      <input
                                              id="confirmPassword"
                                              name="confirmPassword"
                                              onchange="validateNewPassword(event)"
                                              placeholder="Enter your confirm password"

                                              class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                              style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                      <small id="confirmPasswordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text "></small>

                                      &lt;!&ndash;Footer&ndash;&gt;
                                      <div class="modal-footer flex justify-end pt-2">
                                             <button
                                                      id="confirmButton" disabled  style="font-family: sans-serif; width: 25%" type="submit"
                                                      class="btn btn-warning px-4   p-3 text-sm font-medium  text-center text-white">
                                                 Confirm
                                              </button>

                                              <button
                                                      data-dismiss="modal"
                                                      style="font-family: sans-serif; width: 25%" type="button"
                                                      class="btn btn-danger px-4   p-3 text-sm font-medium  text-center text-white">
                                                  Cancel
                                              </button>

                                      </div>

                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- All javascript code in this project for now is just for demo DON'T RELY ON IT  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<!--<script src="../build/js/script.js"></script>-->
<script th:src="@{/js/scripts.js}"></script>



<!--    Validate the verify -->
/*
var verifyPassword = document.getElementById("verifyPassword").value;
var verifyPasswordHelp = document.getElementById("verifyPasswordHelp").value


console.log("verifyPassword : ",verifyPassword)
console.log("verifyPasswordHelp",verifyPasswordHelp)

*/

/*
var validateCredential= function (event){

    var password = document.getElementById("verifyPassword").value

    if (password==""){
        document.getElementById("verifyPasswordHelp").innerText="This field cannot be empty!";
        document.getElementById("verifyButton").disabled = true ;
    }else {

        document.getElementById("verifyPasswordHelp").innerText="";
        document.getElementById("verifyButton").disabled = false ;
    }

}*/
    /*var validateCredential = function (event){
        var password= document.getElementById("verifyPassword").value
        console.log("Here is the value of the password : ",password)

        if (password== ""){
            document.getElementById("verifyPasswordHelp").innerText = "Email field cannot be empty!";
            document.getElementById("verifyButton").disabled = true;
        }else {
            document.getElementById("verifyPasswordHelp").innerText=""
            document.getElementById("verifyButton").disabled = false;
        }
    }*/


  /*  var validateNewPassword = function (event){

    var oldPassword=    document.getElementById("oldPassword").value
    var newPassword = document.getElementById("newPassword").value ;
    var confirmPassword = document.getElementById("confirmPassword").value;



    if(oldPassword=="" || newPassword=="" || confirmPassword==""){
        document.getElementById("confirmButton").disabled = true;
        document.getElementById("confirmPasswordHelp").innerText= ""
    }else if (confirmPassword != newPassword){

        document.getElementById("confirmButton").disabled =true;
        document.getElementById("confirmPasswordHelp").innerText="Confirm password doesn't match up!"
    }else {
        document.getElementById("confirmButton").disabled =false;
    }
}*/




<!--//script for modal for delete -->
<script>

    var message = document.getElementById("messageId").value

    if (message!="")
    {   //alert(message)

        document.getElementById("messsageModalBody").innerText=message
        togglePassword("messageModal");
    }

    function passwordInputTrigger() {
        var oldPassword = document.getElementById("oldPassword")
        var newPassword = document.getElementById("newPassword")
        var confirmPassword  = document.getElementById("confirmPassword")

        const passwordHandler=function (e){
            /*var passwordValue = e.target.value
            console.log(passwordValue)*/

            console.log("Value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('oldPasswordHelp').innerText="Field cannot be empty!"
               /* document.getElementById("newBlockButton").disabled=true*/
            }else {
                document.getElementById('oldPasswordHelp').innerText=""
            /*    document.getElementById("newBlockButton").disabled=false*/


            }
            if (oldPassword.value=="" || newPassword.value==""  || confirmPassword.value==""){

                document.getElementById("newBlockButton").disabled=true
                console.log("Here is it works ")

            }else {
                document.getElementById("newBlockButton").disabled=false

                console.log("Here doesn't works ")
            }
        }

        const newPasswordHandler = function (e){
            console.log("New Password value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('newPasswordHelp').innerText="Field cannot be empty!"
                /* document.getElementById("newBlockButton").disabled=true*/
            }else {
                document.getElementById('newPasswordHelp').innerText=""
                /*    document.getElementById("newBlockButton").disabled=false*/


            }
            if (oldPassword.value=="" || newPassword.value==""  || confirmPassword.value==""){

                document.getElementById("newBlockButton").disabled=true
                console.log("Here is it works ")

            }else {
                document.getElementById("newBlockButton").disabled=false

                console.log("Here doesn't works ")
            }

        }
        const confirmPasswordHandler = function (e){
            console.log("New Password value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('confirmPasswordHelp').innerText="Field cannot be empty!"
                /* document.getElementById("newBlockButton").disabled=true*/
            }else {
                document.getElementById('confirmPasswordHelp').innerText=""
                /*    document.getElementById("newBlockButton").disabled=false*/


            }
            if (oldPassword.value=="" || newPassword.value==""  || confirmPassword.value==""){

                document.getElementById("newBlockButton").disabled=true
                console.log("Here is it works ")

            }else {
                document.getElementById("newBlockButton").disabled=false

                console.log("Here doesn't works ")
            }

        }



        oldPassword.addEventListener('input',passwordHandler)
        oldPassword.addEventListener('propertychange',passwordHandler)
       newPassword.addEventListener('input',newPasswordHandler)
        newPassword.addEventListener('propertychange',newPasswordHandler)
        confirmPassword.addEventListener('input',confirmPasswordHandler)
        confirmPassword.addEventListener('propertychange',confirmPasswordHandler())

    }

    // .passModal mean modal-open
    var openUpdate =document.querySelectorAll('.passwordUpdateModal')
    for (var i =0; i<openUpdate.length; i++){
        openUpdate[i].addEventListener('click', function (event){
            /* const id = this.getAttribute('password')*/
            togglePassword("resetPasswordModal");
            passwordInputTrigger();//"password"

        })
    }


    function  deactivateTrigger() {
        var  dPassword = document.getElementById("dPassword")


        const newPasswordHandler = function (e){
            console.log("New Password value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('newPasswordHelp').innerText="Field cannot be empty!"
               document.getElementById("dButton").disabled=true
            }else {
                document.getElementById('dPasswordHelp').innerText=""
                   document.getElementById("dButton").disabled=false


            }


        }
        dPassword.addEventListener('input',newPasswordHandler)
        dPassword.addEventListener('propertychange',newPasswordHandler)
    }


    var openDec =document.querySelectorAll('.deactivateModal')
    for (var i =0; i<openDec.length; i++){
        openDec[i].addEventListener('click', function (event){
            /* const id = this.getAttribute('password')*/
            togglePassword("deactivateModal");
            deactivateTrigger();//"password"

        })
    }
    //get modal with id
    function togglePassword(id){
        const body = document.querySelector('body')
        const modal = document.getElementById(id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')

    }










    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function(event){
            event.preventDefault()
            const id = this.getAttribute('value')
            toggleModal(id)
        })
    }

    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
        closemodal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function(evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active')) {
            toggleModal()
        }
    };


    function toggleModal (id) {
        const body = document.querySelector('body')
        const modal = document.getElementById('modal-' + id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }
    function toggleModal2 (id) {
        const body = document.querySelector('body')
        const modal = document.getElementById( id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }



</script>


<script>
  const setup = () => {
    const getTheme = () => {
      if (window.localStorage.getItem('dark')) {
        return JSON.parse(window.localStorage.getItem('dark'))
      }

      return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    }

    const setTheme = (value) => {
      window.localStorage.setItem('dark', value)
    }

    const getColor = () => {
      if (window.localStorage.getItem('color')) {
        return window.localStorage.getItem('color')
      }
      return 'cyan'
    }

    const setColors = (color) => {
      const root = document.documentElement
      root.style.setProperty('--color-primary', `var(--color-${color})`)
      root.style.setProperty('--color-primary-50', `var(--color-${color}-50)`)
      root.style.setProperty('--color-primary-100', `var(--color-${color}-100)`)
      root.style.setProperty('--color-primary-light', `var(--color-${color}-light)`)
      root.style.setProperty('--color-primary-lighter', `var(--color-${color}-lighter)`)
      root.style.setProperty('--color-primary-dark', `var(--color-${color}-dark)`)
      root.style.setProperty('--color-primary-darker', `var(--color-${color}-darker)`)
      this.selectedColor = color
      window.localStorage.setItem('color', color)
      //
    }

    const updateBarChart = (on) => {
      const data = {
        data: randomData(),
        backgroundColor: 'rgb(207, 250, 254)',
      }
      if (on) {
        barChart.data.datasets.push(data)
        barChart.update()
      } else {
        barChart.data.datasets.splice(1)
        barChart.update()
      }
    }

    const updateDoughnutChart = (on) => {
      const data = random()
      const color = 'rgb(207, 250, 254)'
      if (on) {
        doughnutChart.data.labels.unshift('Seb')
        doughnutChart.data.datasets[0].data.unshift(data)
        doughnutChart.data.datasets[0].backgroundColor.unshift(color)
        doughnutChart.update()
      } else {
        doughnutChart.data.labels.splice(0, 1)
        doughnutChart.data.datasets[0].data.splice(0, 1)
        doughnutChart.data.datasets[0].backgroundColor.splice(0, 1)
        doughnutChart.update()
      }
    }

    const updateLineChart = () => {
      lineChart.data.datasets[0].data.reverse()
      lineChart.update()
    }

    return {
      loading: true,
      isDark: getTheme(),
      toggleTheme() {
        this.isDark = !this.isDark
        setTheme(this.isDark)
      },
      setLightTheme() {
        this.isDark = false
        setTheme(this.isDark)
      },
      setDarkTheme() {
        this.isDark = true
        setTheme(this.isDark)
      },
      color: getColor(),
      selectedColor: 'cyan',
      setColors,
      toggleSidbarMenu() {
        this.isSidebarOpen = !this.isSidebarOpen
      },
      isSettingsPanelOpen: false,
      openSettingsPanel() {
        this.isSettingsPanelOpen = true
        this.$nextTick(() => {
          this.$refs.settingsPanel.focus()
        })
      },
      isNotificationsPanelOpen: false,
      openNotificationsPanel() {
        this.isNotificationsPanelOpen = true
        this.$nextTick(() => {
          this.$refs.notificationsPanel.focus()
        })
      },
      isSearchPanelOpen: false,
      openSearchPanel() {
        this.isSearchPanelOpen = true
        this.$nextTick(() => {
          this.$refs.searchInput.focus()
        })
      },
      isMobileSubMenuOpen: false,
      openMobileSubMenu() {
        this.isMobileSubMenuOpen = true
        this.$nextTick(() => {
          this.$refs.mobileSubMenu.focus()
        })
      },
      isMobileMainMenuOpen: false,
      openMobileMainMenu() {
        this.isMobileMainMenuOpen = true
        this.$nextTick(() => {
          this.$refs.mobileMainMenu.focus()
        })
      },
      updateBarChart,
      updateDoughnutChart,
      updateLineChart,
    }
  }
</script>

<!--Script for search-->
<script th:inline="javascript">

  $('#txtSearch').on('keyup', function (){
    var value = $(this).val();
    console.log('value = '+ value);
  });
</script>
</body>
</html>
