<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Sahakka Dashboard</title>
  <link rel = "icon" style="width: 100%" href ="http://103.29.70.46:15001/files/6fadf0f3-f1b2-4262-934f-650261eda5b4.PNG "
        type = "imaege/x-icon">
  <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet"/>
  <link th:href="@{/css/formStyles.css}" rel="stylesheet" />
  <script
          src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
          defer
  ></script>
</head>
<body>
<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
  <div
          class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
  >
    <div class="flex flex-col overflow-y-auto md:flex-row">
      <div class="h-32 md:h-auto md:w-1/2">
        <img
                aria-hidden="true"
                class="object-cover w-full h-full dark:hidden"
                th:src="@{/images/pic_form.png}"
                alt="photo"
        />
      </div>
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2" >
        <form class="w-full" th:action="@{/login}" method="post" >
          <h1  style="font-family: sans-serif ; color:black"
                  class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
          >
            Login
          </h1>

          <div th:if="${param.error}">
            <h3 style="color: red ; font-family: sans-serif ">Invalid username and password.</h3>
          </div>

          <label class="block text-sm" style="font-family: sans-serif">
            <span style="font-family: sans-serif">Email</span>
            <input
                    class="block w-full mt-1 text-sm form-input "
                    placeholder="Enter your email"
                    type="text"
                    name="email"
            />
          </label>
          <label class="block mt-4 text-sm" style="font-family: sans-serif">
            <span style="font-family: sans-serif">Password</span>
            <input
                    class="block w-full mt-1 text-sm form-input"
                    placeholder="***************"
                    type="password"
                    name="password"
            />
          </label>

          <!-- You should use a button here, as the anchor is only used for the example  -->
<!--          <a-->
<!--                  class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent"-->
<!--                  -->
<!--                  id="go"-->
<!--          >-->
            <button style="font-family:   sans-serif"
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent"
                    id="go"
                    type="submit" >
              Log in
            </button>
<!--          </a>-->
          <hr class="my-8" />

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
