.pagition-style{
    margin-right: 5px;
    width: 40px;
    text-align: center;
    margin-top: 12px;
}
.page-border{
    margin-bottom: 12px;
}

table.table { width: 100%; }

.table th, .table td {
    text-align: left;
    padding: 12px;
}

.table tr {
    border-bottom: 1px solid #DDD;
}
td.edit-buttons { text-align: right; }
button {
    border-radius: 3px;
    border: none;
    margin: 0 0.25em;
    transition: all 0.3s;
}

button:hover {
    box-shadow: 0 0 4px rgba(3,3,3,0.8);
    opacity: 0.9;
}

button.add { background: #39a2f3; }
button.view { background: orange; }
button.edit { background: #ffc1078e; }
button.delete { background: #dc35468a; }

@media screen and (max-width: 800px) {
    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        border: 1px solid rgba(3,3,3,0.2);
    }
    td, th {
        flex: 1 1 150px;
        border: 0.5px solid rgba(3,3,3,0.2);
    }
    /* td.edit-buttons, td.empty {
      flex: 1 0 90%;
      text-align: center;
    } */
}

* { box-model: border-box; font-family: 'futura'; }

.header-size{
    padding: 100px;
}


/* tr:nth-child(even) {
  background-color: #ffae0056;
} */
