<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>All Service Posts</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
            rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--  <link th:href="@{/css/editStyle.css}" rel="stylesheet" />-->
    <link th:href="@{/css/tableStyles.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>

    <style>
        p,button,a,tr,td{font-family: sans-serif }

    </style>
</head>
<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}">
    <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div
                x-ref="loading"
                class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-primary-darker"
        >
            Loading.....
        </div>
        <!--      nav2-->
        <div th:replace="fragments/nav2::nav2"> </div>

        <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">

            <!-- Navbar -->
            <div th:replace="fragments/responsive::nav1(loginUser=${loginUser})"></div>

            <!-- Main content -->
            <main>
                <!-- Content header -->
                <div class="flex items-center justify-between px-4 py-4 border-b dark:border-primary-darker">
                    <h1 style="font-family: sans-serif" class="text-2xl font-medium">All Reported Service Posts</h1>
                </div>

                <!-- Content -->
                <div class="mt-2">
                    <!-- State cards -->
                    <div class="grid grid-cols-1 gap-8 p-2 lg:grid-cols-4 xl:grid-cols-4">

                        <!-- Freelancer -->
                        <div class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker">
                            <div>
                                <h6
                                        class="text-xs ml-3 font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
                                >
                                    Number of service posts
                                </h6>
                                <span style="font-family: sans-serif" class="text-xl ml-3 font-semibold" th:text="${countPost}">50,021</span>
                                <!--                <span class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md">-->
                                <!--                                +2.6%-->
                                <!--                                </span>-->
                            </div>
                            <div>
                           <span>


                              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                   width="64" height="64"
                                   viewBox="0 0 172 172"
                                   style=" fill:#000000;"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="" fill="none"></path><g id="Layer_1"><path d="M166.625,34.9375c0,-7.39062 -6.04687,-13.4375 -13.4375,-13.4375h-134.375c-7.39062,0 -13.4375,6.04688 -13.4375,13.4375v104.8125c0,7.39063 6.04688,13.4375 13.4375,13.4375h134.375c7.39063,0 13.4375,-6.04687 13.4375,-13.4375z" fill="#f1c40f"></path><circle cx="36" cy="48" transform="scale(1.34375,1.34375)" r="15" fill="#e4e4e7"></circle><path d="M45.6875,153.1875c14.64688,-53.07812 56.70625,-75.25 120.9375,-62.35v48.9125c0,7.39063 -6.04687,13.4375 -13.4375,13.4375z" fill="#efde97"></path><path d="M108.17188,153.1875h45.01563c7.39063,0 13.4375,-6.04687 13.4375,-13.4375v-22.0375c-37.625,-16.93125 -60.46875,15.31875 -58.45312,35.475z" fill="#b5a809"></path><path d="M48.375,88.6875c-6.18125,0 -12.3625,-2.41875 -17.06562,-7.12188c-9.40625,-9.40625 -9.40625,-24.725 0,-34.26562c9.40625,-9.40625 24.725,-9.40625 34.26563,0c9.40625,9.40625 9.40625,24.725 0,34.26562c-4.8375,4.70313 -11.01875,7.12188 -17.2,7.12188zM48.375,48.375c-4.16562,0 -8.19687,1.6125 -11.42187,4.70313c-6.31563,6.31563 -6.31563,16.52813 0,22.84375c6.31563,6.31562 16.52812,6.31562 22.84375,0c6.31562,-6.31562 6.31562,-16.52812 0,-22.84375c-3.225,-3.09062 -7.25625,-4.70312 -11.42187,-4.70312z" fill="#444b54"></path><path d="M165.81875,94.73438v0v0v0c0.26875,0 0.5375,0.13437 0.80625,0.13437c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-55.9c0,-9.675 -7.79375,-17.46875 -17.46875,-17.46875h-134.375c-9.675,0 -17.46875,7.79375 -17.46875,17.46875v104.8125c0,9.675 7.79375,17.46875 17.46875,17.46875h134.375c9.675,0 17.46875,-7.79375 17.46875,-17.46875v-22.0375c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v22.0375c0,5.24062 -4.16563,9.40625 -9.40625,9.40625h-102.125c15.45313,-47.56875 54.95938,-66.38125 114.75625,-54.42187zM42.73125,149.15625h-23.91875c-5.24062,0 -9.40625,-4.16563 -9.40625,-9.40625v-104.8125c0,-5.24062 4.16563,-9.40625 9.40625,-9.40625h134.375c5.24062,0 9.40625,4.16563 9.40625,9.40625v50.92812c-61.94687,-10.75 -104.275,11.55625 -119.8625,63.29063z"

                          </span>
                            </div>
                        </div>

                    </div>
                </div>


                <!--search-->
                <div>
                    <form style="justify-content: space-between; display: flex" action="/freelancer/allReportedServicePosts" method="get">
                        <div> <input hidden id="messageId" th:value="${message}" >   </div>
                        <div style="display: flex; width: 40%" class="px-4 mb-2">
                            <input
                                    style=" font-family: sans-serif"
                                    x-ref="searchInput"
                                    type="text"
                                    class="w-full py-2 pl-8 pr-4 border rounded-full dark:bg-dark dark:border-transparent dark:text-light focus:outline-none focus:ring bg-white rounded-md dark:bg-darker"
                                    placeholder="Search..."
                                    name="search_query"
                            />

                            <button>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

                <!-- table -->
                <div class="items-center px-4 dark:border-primary-darker">
                    <table class="table bg-white rounded-md dark:bg-darker">
                        <tr>
                            <td>Id</td>
                            <td>Image</td>
                            <td>Tittle</td>
                            <td>Description</td>
                            <!--     <td>Experience</td>-->
                            <td>Skill</td>
                            <!--   <td>Languages</td>-->
                            <td>Posted by</td>
                            <td>Profile</td>
                            <td style="text-align: center">Action</td>
                        </tr>

                        <tr th:each="freelancerPost : ${allReportedPosts}">
                            <td th:text="${freelancerPost.id}">1</td>
                            <td>
                                <img class="w-10 h-10  " th:src="${freelancerPost.post_image}"
                                     onerror="this.onerror=null; this.src='http://103.29.70.46:15001/files/39fa448d-3ca5-438c-8df7-18ae0f6909a3.png'"
                                     alt="photo">
                            </td>
                            <td th:text="${#strings.abbreviate(freelancerPost.title, 25)}"></td>
                            <td th:text="${#strings.abbreviate(freelancerPost.post_description, 18)}" ></td>
                            <td th:text="${#strings.abbreviate(freelancerPost.user.skills, 18)}" ></td>
                            <!--   <td th:text="${#strings.abbreviate(freelancerPost.work_experience, 18)}"></td>-->
                            <!--  <td th:text="${#strings.abbreviate(freelancerPost.languages, 18)}"></td>-->
                            <td th:text="${#strings.abbreviate(freelancerPost.user.username, 18)}"></td>
                            <td >
                                <img class="w-10 h-10 rounded-full" th:src="${freelancerPost.user.profile_image}"
                                     onerror="this.onerror=null; this.src='https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png'"
                                     alt="photo">
                            </td>


                            <td class="edit-buttons dark:bg-darker" style="text-align: center" th:value="${freelancerPost}">
                                <div class="dropdown">
                                    <div class="dark:text-gray-400 dark:hover:text-light hover:text-gray-700">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16" fill="currentColor"
                                                class="bi bi-three-dots-vertical dark:bg-darker"
                                                viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </div>
                                    <div class="dropdown-content dark:bg-darker bg-white dark:text-gray-400 dark:hover:text-light hover:text-gray-700">
                                        <a th:href="@{/freelancer/{id}/viewReportedServicePost(id = ${freelancerPost.id})}"  class="dark:text-light hover:bg-primary-100 dark:hover:bg-primary" style="font-family: sans-serif ; text-align: center">View</a>
                                        <a th:value="${freelancerPost.id}"    class="modal-open dark:text-light hover:bg-primary-100 dark:hover:bg-primary"  style="text-align: center ; font-family: sans-serif ">Remove</a>


                                    </div>

                                    <!--Modal-->
                                    <div th:id="'modal-' + ${freelancerPost.id}" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                                        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                                            <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                                                <!--Title-->
                                                <div class="flex justify-between items-center pb-3 ">
                                                    <p style="font-family: sans-serif" class="text-2xl font-bold">Message</p>
                                                    <div class="modal-close cursor-pointer z-50">
                                                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <!--Body-->
                                                <p style="font-family: sans-serif">Enter your password</p>
                                                <!--                              Adding form th:object="${password}" -->

                                                <form  th:action="@{/freelancer/{id}/deleteServicePost(id=${freelancerPost.id})}"    method="get">

                                                    <!--   <input  type="hidden" name="messageId" th:value="${message}">-->
                                                    <input

                                                            th:id="'password-' + ${freelancerPost.id}"  th:src="${freelancerPost.id}"
                                                            name="password"
                                                            placeholder="Enter your password"
                                                            class="password px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                                            style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                                                    <small th:id="'passwordHelp-' + ${freelancerPost.id}"  style="font-family: sans-serif; color: red" class="form-text ">Field cannot be empty!</small>


                                                    <!--Footer  id="blockButton" -->
                                                    <div class="modal-footer flex justify-end pt-2">
                                                        <button th:id="'blockButton-' + ${freelancerPost.id}"    disabled class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 " type="submit" style="background-color: orange; color: white; font-family: sans-serif">Remove</button>
                                                        <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >Cancel</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                    <!--                  Another Model -->

                                    <!--Modal-->
                                    <div id="messageModal" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                                        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                                        <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                                            <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                                                <!--Title-->
                                                <div class="flex justify-between items-center pb-3 ">
                                                    <p class="text-2xl font-bold">Message</p>
                                                    <div class="modal-close cursor-pointer z-50">
                                                        <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <!--Body-->
                                                <p id="messsageModalBody" style="font-family: sans-serif"> </p>
                                                <!--                              Adding form th:object="${password}" -->

                                                <!--Footer-->
                                                <div class="modal-footer flex justify-end pt-2">
                                                    <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >OK</button>
                                                </div>



                                            </div>
                                        </div>
                                    </div>



                                </div>


                            </td>
                        </tr>
                        </tr>

                    </table>
                </div>
                <!--        Finish Table-->
                <!-- pagination -->
                <div th:if="${paging.totalPages}>0" class="flex items-center px-4 dark:border-primary-darker page-border" style="flex-wrap: wrap">
                    <div class="button-style dark:text-primary-dark" style="display: flex; margin-right: 10px">
                        <div style="margin-right: 6px ; font-family: sans-serif" class="font-semibold">Pages: </div>
                        <div  style="font-family: sans-serif"  th:text="${paging.page}"></div>
                        <div style="font-family: sans-serif"  >/</div>
                        <div style="font-family: sans-serif"  th:text="${paging.totalPages}"></div>
                    </div>

                    <a th:href="@{/freelancer/allReportedServicePosts(page=1, search_query=${search_query})}">
                        <div class="button-style" style="background-color: rgb(255,176,0); font-family: sans-serif">First</div>
                    </a>
                    <a th:href="@{/freelancer/allReportedServicePosts(page=${paging.previousPage}, search_query=${search_query})}">
                        <div class="button-style" style="background-color: rgb(255,176,0); font-family: sans-serif">Previous</div>
                    </a>
                    <div th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}" class="pagition-style" style="background-color: rgba(255, 127, 80, 0.404); border-radius: 1000px;">
                        <a th:text="${i}" th:href="@{/freelancer/allReportedServicePosts(page=${i}, keyword=${keyword})}">1</a>
                    </div>
                    <a th:href="@{/freelancer/allReportedServicePosts(page=${paging.nextPage}, keyword=${keyword})}">
                        <div class="button-style" style="background-color: rgb(255,176,0); font-family: sans-serif">Next</div>
                    </a>
                    <a th:href="@{/freelancer/allReportedServicePosts(page=${paging.totalPages}, keyword=${keyword})}">
                        <div class="button-style" style="background-color: rgb(255,176,0); font-family: sans-serif">Last</div>
                    </a>
                </div>
                <!-- finish pagination -->
            </main>
        </div>

        <div
                enter="transition duration-300 ease-in-out"
                enter-start="opacity-0"
                enter-end="opacity-100"
                leave="transition duration-300 ease-in-out"
                leave-start="opacity-100"
                leave-end="opacity-0"
                x-show="isSettingsPanelOpen"
                @click="isSettingsPanelOpen = false"
                class="fixed inset-0 z-10 bg-primary-darker"
                style="opacity: 0.5"
                aria-hidden="true"
        ></div>
        <!-- Panel -->
        <section
                enter="transition duration-300 ease-in-out transform sm:duration-500"
                enter-start="translate-x-full"
                enter-end="translate-x-0"
                leave="transition duration-300 ease-in-out transform sm:duration-500"
                leave-start="translate-x-0"
                leave-end="translate-x-full"
                x-ref="settingsPanel"
                tabindex="-1"
                x-show="isSettingsPanelOpen"
                @keydown.escape="isSettingsPanelOpen = false"
                class="fixed inset-y-0 right-0 z-20 w-full max-w-xs bg-white shadow-xl dark:bg-darker dark:text-light sm:max-w-md focus:outline-none"
                aria-labelledby="settinsPanelLabel"
        >
            <div class="absolute left-0 p-2 transform -translate-x-full">
                <!-- Close button -->
                <button
                        @click="isSettingsPanelOpen = false"
                        class="p-2 text-white rounded-md focus:outline-none focus:ring"
                >
                    <svg
                            class="w-5 h-5"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <!-- Panel content -->
            <div class="flex flex-col h-screen">
                <!-- Panel header -->
                <div
                        class="flex flex-col items-center justify-center flex-shrink-0 px-4 py-8 space-y-4 border-b dark:border-primary-dark"
                >
              <span aria-hidden="true" class="text-gray-500 dark:text-primary">
                <svg
                        class="w-8 h-8"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                  <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                  />
                </svg>
              </span>
                    <h2 id="settinsPanelLabel" class="text-xl font-medium text-gray-500 dark:text-light">Settings</h2>
                </div>
                <!-- Content -->
                <div class="flex-1 overflow-hidden hover:overflow-y-auto">
                    <!-- Theme -->
                    <div class="p-4 space-y-4 md:p-8">
                        <h6 class="text-lg font-medium text-gray-400 dark:text-light">Mode</h6>
                        <div class="flex items-center space-x-8">
                            <!-- Light button -->
                            <button
                                    @click="setLightTheme"
                                    class="flex items-center justify-center px-4 py-2 space-x-4 transition-colors border rounded-md hover:text-gray-900 hover:border-gray-900 dark:border-primary dark:hover:text-primary-100 dark:hover:border-primary-light focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:focus:ring-offset-dark dark:focus:ring-primary-dark"
                                    :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': !isDark, 'text-gray-500 dark:text-primary-light': isDark }"
                            >
                    <span>
                      <svg
                              class="w-6 h-6"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                      >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
                        />
                      </svg>
                    </span>
                                <span>Light</span>
                            </button>

                            <!-- Dark button -->
                            <button
                                    @click="setDarkTheme"
                                    class="flex items-center justify-center px-4 py-2 space-x-4 transition-colors border rounded-md hover:text-gray-900 hover:border-gray-900 dark:border-primary dark:hover:text-primary-100 dark:hover:border-primary-light focus:outline-none focus:ring focus:ring-primary-lighter focus:ring-offset-2 dark:focus:ring-offset-dark dark:focus:ring-primary-dark"
                                    :class="{ 'border-gray-900 text-gray-900 dark:border-primary-light dark:text-primary-100': isDark, 'text-gray-500 dark:text-primary-light': !isDark }"
                            >
                    <span>
                      <svg
                              class="w-6 h-6"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                      >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
                        />
                      </svg>
                    </span>
                                <span>Dark</span>
                            </button>
                        </div>
                    </div>

                    <!-- Colors -->
                    <div class="p-4 space-y-4 md:p-8">
                        <h6 class="text-lg font-medium text-gray-400 dark:text-light">Colors</h6>
                        <div>
                            <button
                                    @click="setColors('cyan')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-cyan)"
                            ></button>
                            <button
                                    @click="setColors('teal')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-teal)"
                            ></button>
                            <button
                                    @click="setColors('green')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-green)"
                            ></button>
                            <button
                                    @click="setColors('fuchsia')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-fuchsia)"
                            ></button>
                            <button
                                    @click="setColors('blue')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-blue)"
                            ></button>
                            <button
                                    @click="setColors('violet')"
                                    class="w-10 h-10 rounded-full"
                                    style="background-color: var(--color-violet)"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Notification panel -->
        <!-- Backdrop -->
        <div
                enter="transition duration-300 ease-in-out"
                enter-start="opacity-0"
                enter-end="opacity-100"
                leave="transition duration-300 ease-in-out"
                leave-start="opacity-100"
                leave-end="opacity-0"
                x-show="isNotificationsPanelOpen"
                @click="isNotificationsPanelOpen = false"
                class="fixed inset-0 z-10 bg-primary-darker"
                style="opacity: 0.5"
                aria-hidden="true"
        ></div>
        <!-- Panel -->
        <section
                enter="transition duration-300 ease-in-out transform sm:duration-500"
                enter-start="-translate-x-full"
                enter-end="translate-x-0"
                leave="transition duration-300 ease-in-out transform sm:duration-500"
                leave-start="translate-x-0"
                leave-end="-translate-x-full"
                x-ref="notificationsPanel"
                x-show="isNotificationsPanelOpen"
                @keydown.escape="isNotificationsPanelOpen = false"
                tabindex="-1"
                aria-labelledby="notificationPanelLabel"
                class="fixed inset-y-0 z-20 w-full max-w-xs bg-white dark:bg-darker dark:text-light sm:max-w-md focus:outline-none"
        >
            <div class="absolute right-0 p-2 transform translate-x-full">
                <!-- Close button -->
                <button
                        @click="isNotificationsPanelOpen = false"
                        class="p-2 text-white rounded-md focus:outline-none focus:ring"
                >
                    <svg
                            class="w-5 h-5"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-col h-screen" x-data="{ activeTabe: 'action' }">
                <!-- Panel header -->
                <div class="flex-shrink-0">
                    <div class="flex items-center justify-between px-4 pt-4 border-b dark:border-primary-darker">
                        <h2 id="notificationPanelLabel" class="pb-4 font-semibold">Notifications</h2>
                        <div class="space-x-2">
                            <button
                                    @click.prevent="activeTabe = 'action'"
                                    class="px-px pb-4 transition-all duration-200 transform translate-y-px border-b focus:outline-none"
                                    :class="{'border-primary-dark dark:border-primary': activeTabe == 'action', 'border-transparent': activeTabe != 'action'}"
                            >
                                Action
                            </button>
                            <button
                                    @click.prevent="activeTabe = 'user'"
                                    class="px-px pb-4 transition-all duration-200 transform translate-y-px border-b focus:outline-none"
                                    :class="{'border-primary-dark dark:border-primary': activeTabe == 'user', 'border-transparent': activeTabe != 'user'}"
                            >
                                User
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Panel content (tabs) -->
                <div class="flex-1 pt-4 overflow-y-hidden hover:overflow-y-auto">
                    <!-- Action tab -->
                    <div class="space-y-4" x-show.transition.in="activeTabe == 'action'">
                        <a href="#" class="block">
                            <div class="flex px-4 space-x-4">
                                <div class="relative flex-shrink-0">
                      <span
                              class="z-10 inline-block p-2 overflow-visible rounded-full bg-primary-50 text-primary-light dark:bg-primary-darker"
                      >
                        <svg
                                class="w-7 h-7"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                          <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                          />
                        </svg>
                      </span>
                                    <div class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"></div>
                                </div>
                                <div class="flex-1 overflow-hidden">
                                    <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                        New project "KWD Dashboard" created
                                    </h5>
                                    <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                        Looks like there might be a new theme soon
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 9h ago </span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex px-4 space-x-4">
                                <div class="relative flex-shrink-0">
                      <span
                              class="inline-block p-2 overflow-visible rounded-full bg-primary-50 text-primary-light dark:bg-primary-darker"
                      >
                        <svg
                                class="w-7 h-7"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                          <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                          />
                        </svg>
                      </span>
                                    <div class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"></div>
                                </div>
                                <div class="flex-1 overflow-hidden">
                                    <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                        KWD Dashboard v0.0.2 was released
                                    </h5>
                                    <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                        Successful new version was released
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 2d ago </span>
                                </div>
                            </div>
                        </a>
                        <template x-for="i in 20" x-key="i">
                            <a href="#" class="block">
                                <div class="flex px-4 space-x-4">
                                    <div class="relative flex-shrink-0">
                        <span
                                class="inline-block p-2 overflow-visible rounded-full bg-primary-50 text-primary-light dark:bg-primary-darker"
                        >
                          <svg
                                  class="w-7 h-7"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke="currentColor"
                          >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                            />
                          </svg>
                        </span>
                                        <div
                                                class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"
                                        ></div>
                                    </div>
                                    <div class="flex-1 overflow-hidden">
                                        <h5 class="text-sm font-semibold text-gray-600 dark:text-light">
                                            New project "KWD Dashboard" created
                                        </h5>
                                        <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                            Looks like there might be a new theme soon
                                        </p>
                                        <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 9h ago </span>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>

                    <!-- User tab -->
                    <div class="space-y-4" x-show.transition.in="activeTabe == 'user'">
                        <a href="#" class="block">
                            <div class="flex px-4 space-x-4">
                                <div class="relative flex-shrink-0">
                      <span class="relative z-10 inline-block overflow-visible rounded-ful">
                        <img
                                class="object-cover rounded-full w-9 h-9"
                                src="build/images/avatar.jpg"
                                alt="Ahmed kamel"
                        />
                      </span>
                                    <div class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"></div>
                                </div>
                                <div class="flex-1 overflow-hidden">
                                    <h5 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h5>
                                    <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                        Shared new project "K-WD Dashboard"
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 1d ago </span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex px-4 space-x-4">
                                <div class="relative flex-shrink-0">
                      <span class="relative z-10 inline-block overflow-visible rounded-ful">
                        <img
                                class="object-cover rounded-full w-9 h-9"
                                src="build/images/avatar-1.jpg"
                                alt="Ahmed kamel"
                        />
                      </span>
                                    <div class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"></div>
                                </div>
                                <div class="flex-1 overflow-hidden">
                                    <h5 class="text-sm font-semibold text-gray-600 dark:text-light">John</h5>
                                    <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                        Commit new changes to K-WD Dashboard project.
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 10h ago </span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="block">
                            <div class="flex px-4 space-x-4">
                                <div class="relative flex-shrink-0">
                      <span class="relative z-10 inline-block overflow-visible rounded-ful">
                        <img
                                class="object-cover rounded-full w-9 h-9"
                                src="build/images/avatar.jpg"
                                alt="Ahmed kamel"
                        />
                      </span>
                                    <div class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"></div>
                                </div>
                                <div class="flex-1 overflow-hidden">
                                    <h5 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h5>
                                    <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                        Release new version "K-WD Dashboard"
                                    </p>
                                    <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 20d ago </span>
                                </div>
                            </div>
                        </a>
                        <template x-for="i in 10" x-key="i">
                            <a href="#" class="block">
                                <div class="flex px-4 space-x-4">
                                    <div class="relative flex-shrink-0">
                        <span class="relative z-10 inline-block overflow-visible rounded-ful">
                          <img
                                  class="object-cover rounded-full w-9 h-9"
                                  src="build/images/avatar.jpg"
                                  alt="Ahmed kamel"
                          />
                        </span>
                                        <div
                                                class="absolute h-24 p-px -mt-3 -ml-px bg-primary-50 left-1/2 dark:bg-primary-darker"
                                        ></div>
                                    </div>
                                    <div class="flex-1 overflow-hidden">
                                        <h5 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h5>
                                        <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                            Release new version "K-WD Dashboard"
                                        </p>
                                        <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> 20d ago </span>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                </div>
            </div>
        </section>

        <!-- Search panel -->
        <!-- Backdrop -->
        <div
                enter="transition duration-300 ease-in-out"
                enter-start="opacity-0"
                enter-end="opacity-100"
                leave="transition duration-300 ease-in-out"
                leave-start="opacity-100"
                leave-end="opacity-0"
                x-show="isSearchPanelOpen"
                @click="isSearchPanelOpen = false"
                class="fixed inset-0 z-10 bg-primary-darker"
                style="opacity: 0.5"
                aria-hidden="ture"
        ></div>
        <!-- Panel -->
        <section
                enter="transition duration-300 ease-in-out transform sm:duration-500"
                enter-start="-translate-x-full"
                enter-end="translate-x-0"
                leave="transition duration-300 ease-in-out transform sm:duration-500"
                leave-start="translate-x-0"
                leave-end="-translate-x-full"
                x-show="isSearchPanelOpen"
                @keydown.escape="isSearchPanelOpen = false"
                class="fixed inset-y-0 z-20 w-full max-w-xs bg-white shadow-xl dark:bg-darker dark:text-light sm:max-w-md focus:outline-none"
        >
            <div class="absolute right-0 p-2 transform translate-x-full">
                <!-- Close button -->
                <button @click="isSearchPanelOpen = false" class="p-2 text-white rounded-md focus:outline-none focus:ring">
                    <svg
                            class="w-5 h-5"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <h2 class="sr-only">Search panel</h2>
            <!-- Panel content -->
            <div class="flex flex-col h-screen">
                <!-- Panel header (Search input) -->
                <div
                        class="relative flex-shrink-0 px-4 py-8 text-gray-400 border-b dark:border-primary-darker dark:focus-within:text-light focus-within:text-gray-700"
                >
              <span class="absolute inset-y-0 inline-flex items-center px-4">
                <svg
                        class="w-5 h-5"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                >
                  <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  />
                </svg>
              </span>
                    <input
                            x-ref="searchInput"
                            type="text"
                            class="w-full py-2 pl-10 pr-4 border rounded-full dark:bg-dark dark:border-transparent dark:text-light focus:outline-none focus:ring"
                            placeholder="Search..."
                    />
                </div>

                <!-- Panel content (Search result) -->
                <div class="flex-1 px-4 pb-4 space-y-4 overflow-y-hidden h hover:overflow-y-auto">
                    <h1>Search Result</h1>
                    <a href="#" class="flex space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-10 h-10 rounded-lg" src="build/images/avatar.jpg" alt="Ahmed Kamel" />
                        </div>
                        <div class="flex-1 max-w-xs overflow-hidden">
                            <h4 class="text-sm font-semibold text-gray-600 dark:text-light">Ahmed Kamel</h4>
                            <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                Last activity 3h ago.
                            </p>
                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> Offline </span>
                        </div>
                    </a>
                    <a href="#" class="flex space-x-4">
                        <div class="flex-shrink-0">
                            <img class="w-10 h-10 rounded-lg" src="https://kidscreen.com/wp/wp-content/uploads/2018/11/OggyandtheCockroaches.jpg" alt="K-WD Dashboard" />
                        </div>
                        <div class="flex-1 max-w-xs overflow-hidden">
                            <h4 class="text-sm font-semibold text-gray-600 dark:text-light">K-WD Dashboard</h4>
                            <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                            <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> Updated 3h ago. </span>
                        </div>
                    </a>
                    <template x-for="i in 10" x-key="i">
                        <a href="#" class="flex space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-lg" src="build/images/cover-3.jpg" alt="K-WD Dashboard" />
                            </div>
                            <div class="flex-1 max-w-xs overflow-hidden">
                                <h4 class="text-sm font-semibold text-gray-600 dark:text-light">K-WD Dashboard</h4>
                                <p class="text-sm font-normal text-gray-400 truncate dark:text-primary-lighter">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                </p>
                                <span class="text-sm font-normal text-gray-400 dark:text-primary-light"> Updated 3h ago. </span>
                            </div>
                        </a>
                    </template>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- All javascript code in this project for now is just for demo DON'T RELY ON IT  -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<!--<script src="../build/js/script.js"></script>-->
<script th:src="@{/js/scripts.js}"></script>
<script>


    function passwordInputTrigger(id) {
        var password = document.getElementById("password-"+id)

        const passwordHandler=function (e){
            /*var passwordValue = e.target.value
            console.log(passwordValue)*/

            console.log("Value : ",e.target.value)
            if(e.target.value == ""){

                document.getElementById('passwordHelp-'+id).innerText="Field cannot be empty!"
                document.getElementById("blockButton-"+id).disabled=true
            }else {
                document.getElementById('passwordHelp-'+id).innerText=""
                document.getElementById("blockButton-"+id).disabled=false


            }
        }

        password.addEventListener('input',passwordHandler)
        password.addEventListener('propertychange',passwordHandler)

    }

    var openpass =document.querySelectorAll('.password')
    for (var i =0; i<openpass.length; i++){
        openpass[i].addEventListener('click', function (event){
            const id = this.getAttribute('src')
            passwordInputTrigger(id);

        })
    }



    var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function(event){
            event.preventDefault()
            const id = this.getAttribute('value')
            toggleModal(id)
        })
    }

    /*
      const overlay = document.querySelector('.modal-overlay')
      overlay.addEventListener('click', toggleModal )
    */

    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
        closemodal[i].addEventListener('click', toggleModal)
    }

    /* document.onkeydown = function(evt) {
       evt = evt || window.event
       var isEscape = false
       if ("key" in evt) {
         isEscape = (evt.key === "Escape" || evt.key === "Esc")
       } else {
         isEscape = (evt.keyCode === 27)
       }
       if (isEscape && document.body.classList.contains('modal-active')) {
         toggleModal()
       }
     };*/


    function toggleModal (id) {
        const body = document.querySelector('body')
        const modal = document.getElementById('modal-' + id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }



    function toggleModal2 (id) {
        const body = document.querySelector('body')
        const modal = document.getElementById( id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }




    var message = document.getElementById("messageId").value

    console.log(message)
    if (message!="")
    {   //alert(message)

        document.getElementById("messsageModalBody").innerText=message
        toggleModal2("messageModal");

        /*document.getElementById("messageModalButton").setAttribute('data-toggle',"modal")
        document.getElementById("messageBody").setAttribute('value',message)
        document.getElementById("messageModalButton").click();*/


    }











    <!--  Code for Modal and stuff-->
    const setup = () => {
        const getTheme = () => {
            if (window.localStorage.getItem('dark')) {
                return JSON.parse(window.localStorage.getItem('dark'))
            }

            return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
            window.localStorage.setItem('dark', value)
        }

        const getColor = () => {
            if (window.localStorage.getItem('color')) {
                return window.localStorage.getItem('color')
            }
            return 'cyan'
        }

        const setColors = (color) => {
            const root = document.documentElement
            root.style.setProperty('--color-primary', `var(--color-${color})`)
            root.style.setProperty('--color-primary-50', `var(--color-${color}-50)`)
            root.style.setProperty('--color-primary-100', `var(--color-${color}-100)`)
            root.style.setProperty('--color-primary-light', `var(--color-${color}-light)`)
            root.style.setProperty('--color-primary-lighter', `var(--color-${color}-lighter)`)
            root.style.setProperty('--color-primary-dark', `var(--color-${color}-dark)`)
            root.style.setProperty('--color-primary-darker', `var(--color-${color}-darker)`)
            this.selectedColor = color
            window.localStorage.setItem('color', color)
            //
        }

        const updateBarChart = (on) => {
            const data = {
                data: randomData(),
                backgroundColor: 'rgb(207, 250, 254)',
            }
            if (on) {
                barChart.data.datasets.push(data)
                barChart.update()
            } else {
                barChart.data.datasets.splice(1)
                barChart.update()
            }
        }

        const updateDoughnutChart = (on) => {
            const data = random()
            const color = 'rgb(207, 250, 254)'
            if (on) {
                doughnutChart.data.labels.unshift('Seb')
                doughnutChart.data.datasets[0].data.unshift(data)
                doughnutChart.data.datasets[0].backgroundColor.unshift(color)
                doughnutChart.update()
            } else {
                doughnutChart.data.labels.splice(0, 1)
                doughnutChart.data.datasets[0].data.splice(0, 1)
                doughnutChart.data.datasets[0].backgroundColor.splice(0, 1)
                doughnutChart.update()
            }
        }

        const updateLineChart = () => {
            lineChart.data.datasets[0].data.reverse()
            lineChart.update()
        }

        return {
            loading: true,
            isDark: getTheme(),
            toggleTheme() {
                this.isDark = !this.isDark
                setTheme(this.isDark)
            },
            setLightTheme() {
                this.isDark = false
                setTheme(this.isDark)
            },
            setDarkTheme() {
                this.isDark = true
                setTheme(this.isDark)
            },
            color: getColor(),
            selectedColor: 'cyan',
            setColors,
            toggleSidbarMenu() {
                this.isSidebarOpen = !this.isSidebarOpen
            },
            isSettingsPanelOpen: false,
            openSettingsPanel() {
                this.isSettingsPanelOpen = true
                this.$nextTick(() => {
                    this.$refs.settingsPanel.focus()
                })
            },
            isNotificationsPanelOpen: false,
            openNotificationsPanel() {
                this.isNotificationsPanelOpen = true
                this.$nextTick(() => {
                    this.$refs.notificationsPanel.focus()
                })
            },
            isSearchPanelOpen: false,
            openSearchPanel() {
                this.isSearchPanelOpen = true
                this.$nextTick(() => {
                    this.$refs.searchInput.focus()
                })
            },
            isMobileSubMenuOpen: false,
            openMobileSubMenu() {
                this.isMobileSubMenuOpen = true
                this.$nextTick(() => {
                    this.$refs.mobileSubMenu.focus()
                })
            },
            isMobileMainMenuOpen: false,
            openMobileMainMenu() {
                this.isMobileMainMenuOpen = true
                this.$nextTick(() => {
                    this.$refs.mobileMainMenu.focus()
                })
            },
            updateBarChart,
            updateDoughnutChart,
            updateLineChart,
        }
    }
</script>
</body>
</html>
