<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>View Business Owner Profile</title>
  <link rel = "icon" style="width: 100%" href ="http://103.29.70.46:15001/files/6fadf0f3-f1b2-4262-934f-650261eda5b4.PNG "
        type = "imaege/x-icon">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet"
  />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/viewPage.css}" rel="stylesheet" />
  <!--  <link th:href="@{/css/editStyle.css}" rel="stylesheet" />-->
  <link th:href="@{/css/tableStyles.css}" rel="stylesheet" />

  <style>

    p{overflow-wrap: break-word}
  </style>

  <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>




</head>


<body>
<div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}" style="padding-bottom: 30px">
  <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
    <!-- Loading screen -->
    <div
            x-ref="loading"
            class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-primary-darker"
    >
      Loading.....
    </div>
    <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">
      <!-- Navbar -->
      <div th:replace="fragments/responsive::nav1(loginUser=${loginUser})"></div>

      <!--      table-->
      <div class="items-center px-4 dark:border-primary-darker" style="padding-top: 10px;">
        <div>
          <div style="width: 70%; margin: auto;">

            <p style="margin-bottom: 5px  ; font-family: sans-serif" class="text-2xl">Freelancer Information</p>
            <div style="display: flex; justify-content: space-between; padding-top: 15px;">
              <div style="width: 33%; text-align: justify;">

                <div id="rcorners2" style="text-align: center" class="bg-white rounded-md dark:bg-darker">
                  <div
                          class="relative hidden w-40 h-40 mr-20 rounded-full md:block"
                          style="margin: auto"
                  >
                    <img
                            class="object-cover w-full h-full rounded-full"
                            th:src="${freelancer.profile_image}"
                            onerror="this.onerror=null; this.src='https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png'"
                            alt="profile_image"
                            loading="lazy"
                    />
                    <div
                            class="absolute inset-0 rounded-full shadow-inner"
                            aria-hidden="true"
                    ></div>
                  </div>

                  <div>
                    <p class="font-semibold" style="padding-top: 8px; font-family: sans-serif" th:text="${freelancer.username}">Admin name </p>
                  </div>
                  <div>
                    <p class="font-medium" style=" font-family: sans-serif" th:text="${freelancer.skills}">Skill</p>
                  </div>
                  <div>



                    <button style="font-family:   sans-serif ; background-color: orange ; "
                            class="passwordModal   block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent">

                        Deactivate

                    </button>

                  </div>
                </div>



                <p style="margin-bottom: 5px; margin-top: 20px ; font-family: sans-serif" class="text-xl" >Contact Information</p>
                <div id="rcorners4" class="bg-white rounded-md dark:bg-darker">
                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Phone</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style="margin-bottom: 6px; font-family: sans-serif" th:text="${freelancer.telephone}">
                    20/20/2020
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Email</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400 " style=" font-family: sans-serif;margin-bottom: 6px" th:text="${freelancer.email}">
                    20/20/2020
                  </p>

                 <!-- <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Official Email</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.user.email_address}">
                  </p>-->

                </div>

                <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Personal information</p>
                <div id="rcorners3" class="bg-white rounded-md dark:bg-darker">

                 <!-- <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Bio</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.bio}">
                    Bio
                  </p>-->

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Languages</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.languages}">
                    Languages
                  </p>
               <!--   <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Gender</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.gender}">
                    Gender
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px">Nationality</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style="font-family: sans-serif ;  margin-bottom: 6px" th:text="${freelancer.nationality}">
                    Nationality
                  </p>-->

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Address</p>
                  <p class="text-x2 text-gray-600 dark:text-gray-400" style=" font-family: sans-serif;   margin-bottom: 6px" th:text="${freelancer.address}">
                    Address
                  </p>

                  <p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Created At</p>
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.created_date}">
                    Created Date
                  </p>
                </div>


              </div>


              <div style="width: 63%; text-align: justify;">
               <!-- <div   class="bg-white rounded-md dark:bg-darker">

                  &lt;!&ndash; src="https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711"&ndash;&gt;
                  <img   th:src="${businessOwner.businessOwner.company_logo}"  onerror="this.onerror=null; this.src='https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711'" width="100%">
                </div>-->

                <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Work Experiences</p>
                <div id="rcorners3" class="bg-white rounded-md dark:bg-darker">

                  <!--<p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Company Name</p>-->
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.work_experience}">
                    Company Name
                  </p>

                </div>
                <p style="margin-bottom: 10px; margin-top: 10px ; font-family: sans-serif" class="text-xl">Educational Background </p>
                <div id="rcorners3" class="bg-white rounded-md dark:bg-darker">

                  <!--<p class="font-semibold" style="font-family: sans-serif ; padding-top: 5px" >Company Name</p>-->
                  <p class="text-2x  text-gray-600 dark:text-gray-400" style="margin-bottom: 6px ; font-family: sans-serif" th:text="${freelancer.educational_background}">
                    Educational background
                  </p>

                </div>


                <div>
                  <!-- th:href="@{/admin/{id}/updateAdmin( id = ${admin.user_id})}"-->
                  <a   style="text-decoration: none ; visibility: hidden  ">
                    <button
                            style="font-family: sans-serif; background-color: orange ; width: 45% ; visibility: hidden"
                            class=" px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent">
                      Update
                    </button>
                  </a>



                  <button
                          type="submit" name="cancel" value="cancel" onclick="history.go(-1)"
                          style="background-color: red; font-family: sans-serif; width: 45% ; margin-left: 7% "
                          class=" px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 border border-transparent"

                  > Cancel</button>
                </div>

                <!--                  Block Business Owner Model -->
            <!--    <div class="modal fade" id="blockAdminModal"
                     tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 style="font-family: sans-serif;" class="modal-title"
                            id="exampleModalLabel">
                          Message</h5>
                        <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body" >

                        <p style="font-family: sans-serif">Enter your password</p>
                        &lt;!&ndash;                              Adding form th:object="${password}" &ndash;&gt;
                        <form  th:action="@{/freelancer/{id}/delete_freelancer(p_id= ${freelancer.user_id})}"   method="get">
                          <input

                                  id="verifyPassword"
                                  name="password"
                                  onchange="validateCredential(event)"
                                  placeholder="Enter your password"
                                  class="px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                  style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif;"  type="password"  />
                          &lt;!&ndash;   <small id="verifyPasswordHelp"  style="font-family: sans-serif; color: red ; "  class="form-text "></small>
&ndash;&gt;

                          &lt;!&ndash;Footer&ndash;&gt;
                          <div class="modal-footer flex justify-end pt-2">
                            <button
                                    id="verifyButton" disabled  style="font-family: sans-serif; width: 25%" type="submit"
                                    class="btn btn-warning px-4   p-3 text-sm font-medium  text-center text-white">
                              Verify
                            </button>

                            <button
                                    data-dismiss="modal"
                                    style="font-family: sans-serif; width: 25%" type="button"
                                    class="btn btn-danger px-4   p-3 text-sm font-medium  text-center text-white">
                              Cancel
                            </button>

                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>-->

                <!--                  Reset Password Model -->

<!--                Using Model Verify password -->

                <!--Modal-->
                <div id="passwordModal" class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center ">
                  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

                  <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                    <!-- Add margin if you want to see some of the overlay behind the modal-->
                    <div class="modal-content py-4 text-left px-6 dark:bg-darker">
                      <!--Title-->
                      <div class="flex justify-between items-center pb-3 ">
                        <p style="font-family: sans-serif" class="text-2xl font-bold">Message</p>
                        <div class="modal-close cursor-pointer z-50">
                          <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" style="color: white"></path>
                          </svg>
                        </div>
                      </div>
                      <!--Body-->
                      <p style="font-family: sans-serif">Enter your password</p>
                      <!--                              Adding form th:object="${password}" -->

                      <form   th:action="@{/freelancer/{id}/delete_freelancer(id= ${freelancer.user_id})}"    method="get">

                        <!--   <input  type="hidden" name="messageId" th:value="${message}">-->
                        <input

                                th:id="password"
                                name="password"
                                placeholder="Enter your password"
                                class="password                px-4 bg-gray-100 p-3 rounded-lg text-black hover:bg-gray-300 hover:text-black-400 mr-2 "
                                style=" margin-top: 2%; margin-bottom: 2%;  width: 100% ; font-family: sans-serif ;  "  type="password"  />
                        <small th:id="passwordHelp"  style="font-family: sans-serif; color: red" class="form-text ">Field cannot be empty!</small>


                        <!--Footer  id="blockButton" -->
                        <div class="modal-footer flex justify-end pt-2">
                          <button th:id="blockButton"    disabled class="px-4   p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2 " type="submit" style="background-color: orange; color: white; font-family: sans-serif">Remove</button>
                          <button   type="button" name="cancel" value="cancel" onclick="history.go(0)"  class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400" style="background-color: red; font-family: sans-serif"  >Cancel</button>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>



<!--   End of the model -->
              </div>



              <div>





              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- All javascript code in this project for now is just for demo DON'T RELY ON IT  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
    <!--<script src="../build/js/script.js"></script>-->
    <script th:src="@{/js/scripts.js}"></script>


    <script>

      <!--    Validate the verify -->
      var validateCredential = function (event){
        var password=    document.getElementById("verifyPassword").value
        if (password== "")
        {/* document.getElementById("verifyPasswordHelp").innerText = "Email field cannot be empty!";*/
          document.getElementById("verifyButton").disabled = true;
        }else {
          /*document.getElementById("verifyPasswordHelp").innerText=""*/
          document.getElementById("verifyButton").disabled = false;
        }
      }



    </script>

    <!--//script for modal for delete -->
    <script>

      function passwordInputTrigger() {
        var password = document.getElementById("password")

        const passwordHandler=function (e){
          /*var passwordValue = e.target.value
          console.log(passwordValue)*/

          console.log("Value : ",e.target.value)
          if(e.target.value == ""){

            document.getElementById('passwordHelp').innerText="Field cannot be empty!"
            document.getElementById("blockButton").disabled=true
          }else {
            document.getElementById('passwordHelp').innerText=""
            document.getElementById("blockButton").disabled=false


          }
        }

        password.addEventListener('input',passwordHandler)
        password.addEventListener('propertychange',passwordHandler)

      }

      var openpass =document.querySelectorAll('.passwordModal')
      for (var i =0; i<openpass.length; i++){
        openpass[i].addEventListener('click', function (event){
         /* const id = this.getAttribute('password')*/
          togglePassword("passwordModal");
          passwordInputTrigger("password");

        })
      }







      var openmodal = document.querySelectorAll('.modal-open')
      for (var i = 0; i < openmodal.length; i++) {
        openmodal[i].addEventListener('click', function(event){
          event.preventDefault()
          toggleModal()
        })
      }

      const overlay = document.querySelector('.modal-overlay')
      overlay.addEventListener('click', toggleModal)

      var closemodal = document.querySelectorAll('.modal-close')
      for (var i = 0; i < closemodal.length; i++) {
        closemodal[i].addEventListener('click', toggleModal)
      }

      document.onkeydown = function(evt) {
        evt = evt || window.event
        var isEscape = false
        if ("key" in evt) {
          isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
          isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active')) {
          toggleModal()
        }
      };
      function toggleModal () {
        const body = document.querySelector('body')
        const modal = document.querySelector('.modal')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
      }

      function togglePassword(id){
        const body = document.querySelector('body')
        const modal = document.getElementById(id)
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')

      }

    </script>


    <script>
      const setup = () => {
        const getTheme = () => {
          if (window.localStorage.getItem('dark')) {
            return JSON.parse(window.localStorage.getItem('dark'))
          }

          return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
          window.localStorage.setItem('dark', value)
        }

        const getColor = () => {
          if (window.localStorage.getItem('color')) {
            return window.localStorage.getItem('color')
          }
          return 'cyan'
        }

        const setColors = (color) => {
          const root = document.documentElement
          root.style.setProperty('--color-primary', `var(--color-${color})`)
          root.style.setProperty('--color-primary-50', `var(--color-${color}-50)`)
          root.style.setProperty('--color-primary-100', `var(--color-${color}-100)`)
          root.style.setProperty('--color-primary-light', `var(--color-${color}-light)`)
          root.style.setProperty('--color-primary-lighter', `var(--color-${color}-lighter)`)
          root.style.setProperty('--color-primary-dark', `var(--color-${color}-dark)`)
          root.style.setProperty('--color-primary-darker', `var(--color-${color}-darker)`)
          this.selectedColor = color
          window.localStorage.setItem('color', color)
          //
        }

        const updateBarChart = (on) => {
          const data = {
            data: randomData(),
            backgroundColor: 'rgb(207, 250, 254)',
          }
          if (on) {
            barChart.data.datasets.push(data)
            barChart.update()
          } else {
            barChart.data.datasets.splice(1)
            barChart.update()
          }
        }

        const updateDoughnutChart = (on) => {
          const data = random()
          const color = 'rgb(207, 250, 254)'
          if (on) {
            doughnutChart.data.labels.unshift('Seb')
            doughnutChart.data.datasets[0].data.unshift(data)
            doughnutChart.data.datasets[0].backgroundColor.unshift(color)
            doughnutChart.update()
          } else {
            doughnutChart.data.labels.splice(0, 1)
            doughnutChart.data.datasets[0].data.splice(0, 1)
            doughnutChart.data.datasets[0].backgroundColor.splice(0, 1)
            doughnutChart.update()
          }
        }

        const updateLineChart = () => {
          lineChart.data.datasets[0].data.reverse()
          lineChart.update()
        }

        return {
          loading: true,
          isDark: getTheme(),
          toggleTheme() {
            this.isDark = !this.isDark
            setTheme(this.isDark)
          },
          setLightTheme() {
            this.isDark = false
            setTheme(this.isDark)
          },
          setDarkTheme() {
            this.isDark = true
            setTheme(this.isDark)
          },
          color: getColor(),
          selectedColor: 'cyan',
          setColors,
          toggleSidbarMenu() {
            this.isSidebarOpen = !this.isSidebarOpen
          },
          isSettingsPanelOpen: false,
          openSettingsPanel() {
            this.isSettingsPanelOpen = true
            this.$nextTick(() => {
              this.$refs.settingsPanel.focus()
            })
          },
          isNotificationsPanelOpen: false,
          openNotificationsPanel() {
            this.isNotificationsPanelOpen = true
            this.$nextTick(() => {
              this.$refs.notificationsPanel.focus()
            })
          },
          isSearchPanelOpen: false,
          openSearchPanel() {
            this.isSearchPanelOpen = true
            this.$nextTick(() => {
              this.$refs.searchInput.focus()
            })
          },
          isMobileSubMenuOpen: false,
          openMobileSubMenu() {
            this.isMobileSubMenuOpen = true
            this.$nextTick(() => {
              this.$refs.mobileSubMenu.focus()
            })
          },
          isMobileMainMenuOpen: false,
          openMobileMainMenu() {
            this.isMobileMainMenuOpen = true
            this.$nextTick(() => {
              this.$refs.mobileMainMenu.focus()
            })
          },
          updateBarChart,
          updateDoughnutChart,
          updateLineChart,
        }
      }
    </script>

    <!--Script for search-->
   <!-- <script th:inline="javascript">

      $('#txtSearch').on('keyup', function (){
        var value = $(this).val();
        console.log('value = '+ value);
      });
    </script>-->
</body>
</html>
